<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>This is the info page for an employee</h1>
    <h3><%=employee.first_name%> <%=employee.last_name%></h3>
    <p>Email: <%=employee.email%></p>
    <p>Works at <%=employee.shop_id%></p>
    <p>Favorite donut: <%=employee.favorite_donut%></p>

  </body>
</html>
